<!-- Validation failure messages -->
<% if @break.errors.any? %>
  <% @break.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Break #<%= @break.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_break/<%= @break.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for trainer_id -->
      <div class="form-group">
        <label for="trainer_id" class="control-label">
          Trainer
        </label>

        <input type="text" id="trainer_id" name="trainer_id" placeholder="Trainer" class="form-control" value="<%= @break.trainer_id %>">
      </div>

      <!-- Label and input for start -->
      <div class="form-group">
        <label for="start" class="control-label">
          Start
        </label>

        <input type="text" id="start" name="start" placeholder="Start" class="form-control" value="<%= @break.start %>">
      </div>

      <!-- Label and input for end -->
      <div class="form-group">
        <label for="end" class="control-label">
          End
        </label>

        <input type="text" id="end" name="end" placeholder="End" class="form-control" value="<%= @break.end %>">
      </div>

      <button class="btn btn-warning">
        Update Break
      </button>
      or
      <a href="/breaks/<%= @break.id %>">Cancel</a>
    </form>
  </div>
</div>
