<div class="page-header">
  <h1>
    Lessons
    <a href="/lessons/new" class="btn btn-lg btn-success">New Lesson</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Trainer</th>
        <th>Student</th>
        <th>Lesson time</th>
        <th>Checked in</th>
        <th>Actions</th>
      </tr>

      <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.trainer.name %></td>
        <td><%= lesson.student.name %></td>
        <td><%= lesson.lesson_time %></td>
        <td><%= lesson.checked_in %></td>
        <td>
          <a href="/lessons/<%= lesson.id %>" class="btn btn-primary">Show</a>
          <a href="/lessons/<%= lesson.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_lesson/<%= lesson.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @lessons, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
