<div class="page-header">
  <h1>
    <a <a href="/lessons">Perfecta Farm Lesson Schedule </a>
  </h1>
</div>

<%= Lesson.where({:student => current_student.id, :lesson_time => Chronic.parse("this week thursday at 10:00 AM") }).any? %>
<% if @week == nil %>
<a href="/lessons/1" class="btn btn-lg btn-success">Next week</a>
<%elsif @week == '1' %>
<a href="/lessons" class="btn btn-lg btn-success">Last week</a>
<a href="/lessons/<%= @week.to_i + 1 %>" class="btn btn-lg btn-success">Next week</a>
<%else %>
<a href="/lessons/<%= @week.to_i - 1 %>" class="btn btn-lg btn-success">Last week</a>
<a href="/lessons/<%= @week.to_i + 1 %>" class="btn btn-lg btn-success">Next week</a>
<% end %>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <% if @week == nil %>
      <tr>
        <th>Time</th>
        <th>Tuesday <%= Chronic.parse('tuesday of this week').strftime('%m/%e') %></th>
        <th>Wednesday <%= Chronic.parse('wednesday of this week').strftime('%m/%e') %></th>
        <th>Thursday <%= Chronic.parse('thursday of this week').strftime('%m/%e') %></th>
        <th>Friday <%= Chronic.parse('friday of this week').strftime('%m/%e') %></th>
        <th>Saturday <%= Chronic.parse('saturday of this week').strftime('%m/%e') %></th>
        <th>Sunday <%= Chronic.parse('sunday of this week').strftime('%m/%e') %></th>
      </tr>

      <% @lesson_options.each do |time| %>
      <tr>
        <td><%= time %></td>
      <% @weekday.each do |day| %>
        <td>
          <% if Lesson.where({:student => current_student.id, :lesson_time => Chronic.parse("this week #{day} at #{time}") }).any? == false %>
          <a href="/lessons/new/<%=Chronic.parse("#{day} of this week").strftime('%B_%e')%>_<%=time%>" class="btn btn-lg btn-success">+</a>
          <%else%>
          <a href="/lessons/new/<%=Chronic.parse("#{day} of this week").strftime('%B_%e')%>_<%=time%>" class="btn btn-lg btn-warning">-</a>
          <%end%>
        <% @lessons.each do |lesson| %>
        <% if lesson.lesson_time == Chronic.parse("this week #{day} at #{time}") %>
        <a href="/trainers/<%= lesson.trainer.id %>">
          <%= lesson.trainer.name %>- <%= lesson.student.name %>
          </a>
          <% end %>
          <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% elsif @week == '1' %>
      <tr>
        <th>Time</th>
        <th>Tuesday <%= Chronic.parse('tuesday of next week').strftime('%m/%e') %></th>
        <th>Wednesday <%= Chronic.parse('wednesday of next week').strftime('%m/%e') %></th>
        <th>Thursday <%= Chronic.parse('thursday of next week').strftime('%m/%e') %></th>
        <th>Friday <%= Chronic.parse('friday of next week').strftime('%m/%e') %></th>
        <th>Saturday <%= Chronic.parse('saturday of next week').strftime('%m/%e') %></th>
        <th>Sunday <%= Chronic.parse('sunday of next week').strftime('%m/%e') %></th>
      </tr>

      <% @lesson_options.each do |time| %>
      <tr>
        <td><%= time %></td>
      <% @weekday.each do |day| %>
        <td>
          <% if Lesson.where({:student => current_student.id, :lesson_time => Chronic.parse("next week #{day} at #{time}") }).any? == false %>
          <a href="/lessons/new/<%=Chronic.parse("#{day} of next week").strftime('%B_%e')%>_<%=time%>" class="btn btn-lg btn-success">+</a>
          <%else%>
          <a href="/lessons/new/<%=Chronic.parse("#{day} of next week").strftime('%B_%e')%>_<%=time%>" class="btn btn-lg btn-warning">-</a>
          <%end%>
        <% @lessons.each do |lesson| %>
        <% if lesson.lesson_time == Chronic.parse("next week #{day} at #{time} ") %>
        <a href="/trainers/<%= lesson.trainer.id %>">
          <%= lesson.student.name %>
          </a>
          <% end %>
          <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% else %>
      <tr>
        <th>Time</th>
        <th>Tuesday <%= Chronic.parse("#{@week} weeks from now tuesday").strftime('%m/%e') %></th>
        <th>Wednesday <%= Chronic.parse("#{@week} weeks from now wednesday").strftime('%m/%e') %></th>
        <th>Thursday <%= Chronic.parse("#{@week}  weeks from now thursday").strftime('%m/%e') %></th>
        <th>Friday <%= Chronic.parse("#{@week} weeks from now friday").strftime('%m/%e') %></th>
        <th>Saturday <%= Chronic.parse("#{@week} weeks from now saturday").strftime('%m/%e') %></th>
        <th>Sunday <%= Chronic.parse("#{@week} weeks from now sunday").strftime('%m/%e') %></th>
      </tr>

      <% @lesson_options.each do |time| %>
      <tr>
        <td><%= time %></td>
      <% @weekday.each do |day| %>
        <td>
          <% if Lesson.where({:student => current_student.id, :lesson_time => Chronic.parse("#{@week} weeks from now #{day} at #{time}") }).any? == false %>
          <a href="/lessons/new/<%=Chronic.parse("#{@week} weeks from now #{day} ").strftime('%B_%e')%>_<%=time%>" class="btn btn-lg btn-success">+</a>
          <%else%>
          <a href="/lessons/new/<%=Chronic.parse("#{@week} weeks from now #{day} ").strftime('%B_%e')%>_<%=time%>" class="btn btn-lg btn-warning">-</a>
          <%end%>
        <% @lessons.each do |lesson| %>
        <% if lesson.lesson_time == Chronic.parse("#{@week} weeks from now #{day} at #{time} ") %>
        <a href="/trainers/<%= lesson.trainer.id %>">
          <%= lesson.student.name %>
          </a>
          <% end %>
          <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>

    </table>
    <%= paginate @lessons, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
