<!-- <br><br><br>
Time: <%= @chronictime %><br>
Day: <%= @chronictime.wday %><br>
Hour: <%= @chronictime.hour %><br>
Min: <%= @chronictime.min %><br> -->


<% trainers_available = [] %>
<% Trainer.all.each do |trainer| %>
<% if Lesson.where({:lesson_time => @chronictime, :trainer_id => trainer.id }).any? == false && %>
<% trainer.name%>
<% if @chronictime.wday == 2 %>
  <% if Chronic.parse("today at #{trainer.tues_start_hour}:#{trainer.tues_start_min} #{trainer.tues_start_am_pm}") <= Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% if Chronic.parse("today at #{trainer.tues_end_hour}:#{trainer.tues_end_min} #{trainer.tues_end_am_pm}") > Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <%trainer.name %>
<% trainers_available.push trainer.id %>
<% end %>
<% end %>
<% end %>
<% if @chronictime.wday == 3 %>
  <% if Chronic.parse("today at #{trainer.wed_start_hour}:#{trainer.wed_start_min} #{trainer.wed_start_am_pm}") <= Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% if Chronic.parse("today at #{trainer.wed_end_hour}:#{trainer.wed_end_min} #{trainer.wed_end_am_pm}") > Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <%trainer.name %>
<% trainers_available.push trainer.id %>
<% end %>
<% end %>
<% end %>
<% if @chronictime.wday == 4 %>
  <% if Chronic.parse("today at #{trainer.thur_start_hour}:#{trainer.thur_start_min} #{trainer.thur_start_am_pm}") <= Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% if Chronic.parse("today at #{trainer.thur_end_hour}:#{trainer.thur_end_min} #{trainer.thur_end_am_pm}") > Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% trainer.name %>
<% trainers_available.push trainer.id %>
<% end %>
<% end %>
<% end %>
<% if @chronictime.wday == 5 %>
  <% if Chronic.parse("today at #{trainer.fri_start_hour}:#{trainer.fri_start_min} #{trainer.fri_start_am_pm}") <= Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% if Chronic.parse("today at #{trainer.fri_end_hour}:#{trainer.fri_end_min} #{trainer.fri_end_am_pm}") > Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% trainer.name %>
<% trainers_available.push trainer.id %>
<% end %>
<% end %>
<% end %>
<% if @chronictime.wday == 6 %>
  <% if Chronic.parse("today at #{trainer.sat_start_hour}:#{trainer.sat_start_min} #{trainer.sat_start_am_pm}") <= Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% if Chronic.parse("today at #{trainer.sat_end_hour}:#{trainer.sat_end_min} #{trainer.sat_end_am_pm}") > Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% trainer.name %><br>
<% trainers_available.push trainer.id %>
<% end %>
<% end %>
<% end %>
<% if @chronictime.wday == 7 %>
  <% if Chronic.parse("today at #{trainer.sun_start_hour}:#{trainer.sun_start_min} #{trainer.sun_start_am_pm}") <= Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% if Chronic.parse("today at #{trainer.sun_end_hour}:#{trainer.sun_end_min} #{trainer.sun_end_am_pm}") > Chronic.parse("today at #{@chronictime.hour}:#{@chronictime.min}") %>
  <% trainer.name %>
<% trainers_available.push trainer.id %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<!-- Trainers available: <%= trainers_available %> -->


<!-- Validation failure messages -->
<% if @lesson.errors.any? %>
  <% @lesson.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Lesson at <%= @chronictime.strftime('%l:%M %p') %></h3>
</div>

<%= @referer %>
<% if current_student.role == 'Trainer' %>
<div class="row">
  <div class="col-md-12">
    <form action="/create_lesson" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for trainer_id -->
      <div class="form-group">
        <label for="trainer_id" class="control-label">
          Trainer
        </label>

        <%= select_tag(:trainer_id, options_from_collection_for_select(Trainer.where(:id => trainers_available), :id, :name, @lesson.trainer_id), :class => "form-control") %>
      </div>

      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="control-label">
          Student
        </label>

        <%= select_tag(:student_id, options_from_collection_for_select(Student.all, :id, :name, @lesson.student_id), :class => "form-control") %>
      </div>

      <!-- Label and input for lesson_time -->
      <input type="hidden" id="lesson_time" name="lesson_time" placeholder="Lesson time" class="form-control" value="<%= @chronictime %>">
      <input type="hidden" id="lesson_time" name="lesson_page"  class="form-control" value="<%= @referer %>">
      </div>
      <%else%>
<div class="row">
  <div class="col-md-12">
    <form action="/create_lesson" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for trainer_id -->
      <div class="form-group">
        <label for="trainer_id" class="control-label">
          Trainer
        </label>

        <%= select_tag(:trainer_id, options_from_collection_for_select(Trainer.where(:id => trainers_available), :id, :name, @lesson.trainer_id), :class => "form-control") %>
      </div>

      <!-- Label and input for student_id -->
      <input type="hidden" id="student_id" name="student_id" placeholder="Student" class="form-control" value="<%= current_student.id %>">



      <!-- Label and input for lesson_time -->

        <input type="hidden" id="lesson_time" name="lesson_time" placeholder="Lesson time" class="form-control" value="<%= @chronictime %>">

        <input type="hidden" id="lesson_time" name="lesson_page"  class="form-control" value="<%= @referer %>">

<%end%>
      <button class="btn btn-success">
        Create Lesson
      </button>
      or
      <a href="/lessons">Cancel</a>
    </form>
  </div>
</div>
