<!-- Validation failure messages -->
<% if @lesson.errors.any? %>
  <% @lesson.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Lesson</h3>
</div>

<%= @chronictime %>

<div class="row">
  <div class="col-md-12">
    <form action="/create_lesson" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for trainer_id -->
      <div class="form-group">
        <label for="trainer_id" class="control-label">
          Trainer
        </label>

        <%= select_tag(:trainer_id, options_from_collection_for_select(Trainer.all, :id, :name, @lesson.trainer_id), :class => "form-control") %>
      </div>

      <!-- Label and input for student_id -->
      <div class="form-group">
        <label for="student_id" class="control-label">
          Student
        </label>

        <%= select_tag(:student_id, options_from_collection_for_select(Student.all, :id, :name, @lesson.student_id), :class => "form-control") %>
      </div>

      <!-- Label and input for lesson_time -->
      <div class="form-group">
        <label for="lesson_time" class="control-label">
          Lesson time
        </label>

        <input type="text" id="lesson_time" name="lesson_time" placeholder="Lesson time" class="form-control" value="<%= @chronictime %>">
      </div>


      <button class="btn btn-success">
        Create Lesson
      </button>
      or
      <a href="/lessons">Cancel</a>
    </form>
  </div>
</div>
