<div class="page-header">
  <h3>Lesson #<%= @lesson.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Trainer</dt>
      <dd>
        <%= @lesson.trainer.name %>
      </dd>

      <dt>Lesson time</dt>
      <dd><%= @lesson.lesson_time.strftime('%b %e, %l:%M %p') %></dd>

      <dt>Student</dt>
      <dd>
          <%= @lesson.student.name %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lessons" class="btn btn-primary">
        Back
      </a>
        <a href="/delete_lesson/<%= @lesson.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
    </div>
  </div>
</div>
