<div class="page-header">
  <h3>Cancellation Note #<%= @cancellation_note.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Lesson</dt>
      <dd><%= @cancellation_note.lesson_id %></dd>

      <dt>Body</dt>
      <dd><%= @cancellation_note.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cancellation_notes" class="btn btn-primary">
        Back
      </a>
      <a href="/cancellation_notes/<%= @cancellation_note.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cancellation_note/<%= @cancellation_note.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
