<div class="page-header">
  <h3>Schedule Adjustment #<%= @schedule_adjustment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Trainer</dt>
      <dd>
        <% if @schedule_adjustment.trainer.present? %>
          <a href="/trainers/<%= @schedule_adjustment.trainer_id %>">
            <%= @schedule_adjustment.trainer.name %>
          </a>
        <% end %>
      </dd>

      <dt>Adjusted start</dt>
      <dd><%= @schedule_adjustment.adjusted_start %></dd>

      <dt>Adjusted end</dt>
      <dd><%= @schedule_adjustment.adjusted_end %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/schedule_adjustments" class="btn btn-primary">
        Back
      </a>
      <a href="/schedule_adjustments/<%= @schedule_adjustment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_schedule_adjustment/<%= @schedule_adjustment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
