<div class="page-header">
  <h3>Trainer #<%= @trainer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @trainer.name %></dd>

      <dt>Tues start hour</dt>
      <dd><%= @trainer.tues_start_hour %></dd>

      <dt>Tues start min</dt>
      <dd><%= @trainer.tues_start_min %></dd>

      <dt>Tues start am pm</dt>
      <dd><%= @trainer.tues_start_am_pm %></dd>

      <dt>Wed start hour</dt>
      <dd><%= @trainer.wed_start_hour %></dd>

      <dt>Wed start min</dt>
      <dd><%= @trainer.wed_start_min %></dd>

      <dt>Wed start am pm</dt>
      <dd><%= @trainer.wed_start_am_pm %></dd>

      <dt>Thur start hour</dt>
      <dd><%= @trainer.thur_start_hour %></dd>

      <dt>Thur start min</dt>
      <dd><%= @trainer.thur_start_min %></dd>

      <dt>Thur start am pm</dt>
      <dd><%= @trainer.thur_start_am_pm %></dd>

      <dt>Fri start hour</dt>
      <dd><%= @trainer.fri_start_hour %></dd>

      <dt>Fri start min</dt>
      <dd><%= @trainer.fri_start_min %></dd>

      <dt>Fri start am pm</dt>
      <dd><%= @trainer.fri_start_am_pm %></dd>

      <dt>Sat start hour</dt>
      <dd><%= @trainer.sat_start_hour %></dd>

      <dt>Sat start min</dt>
      <dd><%= @trainer.sat_start_min %></dd>

      <dt>Sat start am pm</dt>
      <dd><%= @trainer.sat_start_am_pm %></dd>

      <dt>Sun start hour</dt>
      <dd><%= @trainer.sun_start_hour %></dd>

      <dt>Sun start min</dt>
      <dd><%= @trainer.sun_start_min %></dd>

      <dt>Sun start am pm</dt>
      <dd><%= @trainer.sun_start_am_pm %></dd>

      <dt>Tues end hour</dt>
      <dd><%= @trainer.tues_end_hour %></dd>

      <dt>Tues end min</dt>
      <dd><%= @trainer.tues_end_min %></dd>

      <dt>Tues end am pm</dt>
      <dd><%= @trainer.tues_end_am_pm %></dd>

      <dt>Wed end hour</dt>
      <dd><%= @trainer.wed_end_hour %></dd>

      <dt>Wed end min</dt>
      <dd><%= @trainer.wed_end_min %></dd>

      <dt>Wed end am pm</dt>
      <dd><%= @trainer.wed_end_am_pm %></dd>

      <dt>Thur end hour</dt>
      <dd><%= @trainer.thur_end_hour %></dd>

      <dt>Thur end min</dt>
      <dd><%= @trainer.thur_end_min %></dd>

      <dt>Thur end am pm</dt>
      <dd><%= @trainer.thur_end_am_pm %></dd>

      <dt>Fri end hour</dt>
      <dd><%= @trainer.fri_end_hour %></dd>

      <dt>Fri end min</dt>
      <dd><%= @trainer.fri_end_min %></dd>

      <dt>Fri end am pm</dt>
      <dd><%= @trainer.fri_end_am_pm %></dd>

      <dt>Sat end hour</dt>
      <dd><%= @trainer.sat_end_hour %></dd>

      <dt>Sat end min</dt>
      <dd><%= @trainer.sat_end_min %></dd>

      <dt>Sat end am pm</dt>
      <dd><%= @trainer.sat_end_am_pm %></dd>

      <dt>Sun end hour</dt>
      <dd><%= @trainer.sun_end_hour %></dd>

      <dt>Sun end min</dt>
      <dd><%= @trainer.sun_end_min %></dd>

      <dt>Sun end am pm</dt>
      <dd><%= @trainer.sun_end_am_pm %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/trainers" class="btn btn-primary">
        Back
      </a>
      <a href="/trainers/<%= @trainer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_trainer/<%= @trainer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Trainer has many schedule_adjustments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Schedule_adjustments
      </li>

      <% @trainer.schedule_adjustments.each do |schedule_adjustment| %>
        <li class="list-group-item">
          <a href="/schedule_adjustments/<%= schedule_adjustment.id %>">
            <%= schedule_adjustment.trainer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/schedule_adjustments/<%= schedule_adjustment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/schedule_adjustments/<%= schedule_adjustment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_schedule_adjustment/<%= schedule_adjustment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Trainer has many breaks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Breaks
      </li>

      <% @trainer.breaks.each do |break| %>
        <li class="list-group-item">
          <a href="/breaks/<%= break.id %>">
            <%= break.trainer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/breaks/<%= break.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/breaks/<%= break.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_break/<%= break.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Trainer has many lessons -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Lessons
      </li>

      <% @trainer.lessons.each do |lesson| %>
        <li class="list-group-item">
          <a href="/lessons/<%= lesson.id %>">
            <%= lesson.trainer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/lessons/<%= lesson.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/lessons/<%= lesson.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_lesson/<%= lesson.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
